@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mycontainer {
    min-height: 100dvh;
    @apply flex flex-col;
  }
  .active {
    @apply bg-slate-800 text-amber-400;
  }

  .active svg {
    @apply fill-amber-400;
  }
  
  input[type='text'], input[type='password'], textarea {
    @apply w-full rounded-md border-2 border-gray-300 px-3 py-2 outline-none hover:border-gray-400 focus:border-gray-600;
  }

  .invalid-input {
    border: 2px solid #f44336 !important;
  }
  
  .valid-input {
    border: 2px solid #2196f3 !important;
  }
  
  .form-error a {
    color: #003399;
  }

  .form-error {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    color: rgb(225 29 72)
  }

  form div, form label, form input, form button {
    font-family: 'Open Sans';
  }

  .loader {
    border: 4px solid #ddd;
    border-top: 4px solid #005248;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .alert-info {
    @apply p-4 my-2 mx-auto w-fit max-w-[600px] text-sm rounded-md shadow text-green-800 bg-green-50 shadow-green-200;
  }

  .alert-error {
    @apply p-4 my-2 mx-auto w-fit max-w-[600px] text-sm rounded-md shadow text-red-800 bg-red-50 shadow-red-200;
  }

  a.link {
    @apply cursor-pointer text-sm font-semibold text-blue-600 hover:underline;
  }
  
  .flashed_messages {
    padding: 10px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    color: #d50000;
  }
  
  .flashed_messages > li {
    list-style: none;
  }

  button {
    @apply my-2 rounded px-5 py-2.5 text-sm font-semibold shadow shadow-gray-500 focus:outline-none;
  }

  button.primary {
    @apply bg-blue-600 text-white hover:bg-blue-800;
  }

  input[type='submit'] {
    @apply my-2 rounded bg-blue-600 px-5 py-2.5 text-sm font-semibold text-white shadow shadow-gray-500 hover:bg-blue-800 focus:outline-none;
  }

  .article {
    h2 {
      @apply font-bold text-2xl mt-6 mb-1;
    }
    p {
      @apply my-3;
    }
    li {
      @apply list-disc list-inside ml-10 indent-[-24px];
    }
  }
}
