{% extends "dashboard-base.html" %}
{% set active_page = 'addstore' %}

{% block title %}Add Store{% endblock %}

{% block style %}
.password-input-container {
    position: relative;
}

.password-input-container > input {
    width: 100%;
}

.password-input-container > span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777777;
    cursor: pointer;
}

.password-input-container > span:hover {
    color: black;
}
{% endblock %}

{% block content %}
<div class="form">
    <form action="" method="post" id="addstore-form" novalidate>
        <div class="form-title">Add Store</div>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(placeholder="Enter username") }}
            <span class="form-error" style="display:none;" id="username-error"></span>
            {% for error in form.username.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(placeholder="Enter email") }}
            <span class="form-error" style="display:none;" id="email-error"></span>
        </div>
        <div>
            {{ form.password.label }}
            <div class="password-input-container">
                {{ form.password(placeholder="Enter password") }}
                <span class="material-symbols-outlined">visibility</span>
            </div>
            <span class="form-error" style="display:none;" id="password-error"></span>
        </div>
        <div>
            {{ form.confirm_password.label }}
            <div class="password-input-container">
                {{ form.confirm_password(placeholder="Enter password again") }}
                <span class="material-symbols-outlined">visibility</span>
            </div>
            <span class="form-error" style="display:none;" id="confirm-password-error"></span>
        </div>
        <div>
            {{ form.name.label }}
            {{ form.name(placeholder="Enter name of the Store") }}
            <span class="form-error" style="display:none;" id="name-error"></span>
        </div>
        <div>
            {{ form.phone_number.label }}
            {{ form.phone_number(placeholder="Enter phone number of store owner") }}
            <span class="form-error" style="display:none;" id="phone-number-error"></span>
        </div>
        <div>
            {{ form.address.label }}
            {{ form.address(placeholder="Enter store address") }}
            <span class="form-error" style="display:none;" id="address-error"></span>
        </div>
        <div>
            {{ form.google_map_url.label }}
            {{ form.google_map_url(placeholder="Enter google map link of the store") }}
            <span class="form-error" style="display:none;" id="google-map-url-error"></span>
            <div style="display:flex;align-items: center;gap: 20px;">
                <div class="button" id="generate-id-button"><a>Generate ID</a></div>
                <div class="loader" style="display:none;"></div>
            </div>
        </div>
        <div>
            {{ form.place_id.label }}
            {{ form.place_id(placeholder="Enter place id") }}
            <span class="form-error" style="display:none;" id="place-id-error"></span>
        </div>
        <div>
            {{ form.hex_id.label }}
            {{ form.hex_id(placeholder="Enter hex id") }}
            <span class="form-error" style="display:none;" id="hex-id-error"></span>
        </div>
        <div>{{ form.submit() }}</div>
    </form>
</div>
{% endblock %}

{% block script %}

const generateIdButton = document.getElementById('generate-id-button');
const googleMapURLElement = document.getElementById('google_map_url');
const placeIdElement = document.getElementById('place_id');
const hexIdElement = document.getElementById('hex_id');
const loaderElement = document.querySelector('.loader');

document.querySelectorAll('.password-input-container > span').forEach((icon) => {
    icon.addEventListener('click', (event) => {
        toggleElement = event.target
        inputElement = toggleElement.parentElement.querySelector('input');
        if (inputElement.type === 'password') inputElement.type = 'text';
        else inputElement.type = 'password';
        if (toggleElement.style.color !== 'black') toggleElement.style.color = 'black';
        else toggleElement.style.color = '#dddddd';
    });
});

validationError = false;

// Get all the elements
const usernameErrorEl = document.getElementById('username-error');
const emailErrorEl = document.getElementById('email-error');
const passwordErrorEl = document.getElementById('password-error');
const confirmPasswordErrorEl = document.getElementById('confirm-password-error');
const nameErrorEl = document.getElementById('name-error');
const phoneNumberErrorEl = document.getElementById('phone-number-error');
const addressErrorEl = document.getElementById('address-error');
const googleMapURLErrorEl = document.getElementById('google-map-url-error');
const placeIdErrorEl = document.getElementById('place-id-error');
const hexIdErrorEl = document.getElementById('hex-id-error');

// Get the password and confirm password input elements
const passwordElement = document.getElementById('password');
const confirmPasswordElement = document.getElementById('confirm_password');

function validateInput(inputValue, errorElement, errorMessage, regex, inputElement) {
    if (inputValue === '') {
        validationError = true;
        errorElement.textContent = errorMessage;
        errorElement.style.display = 'block';
        inputElement.classList.remove('valid-input');
        inputElement.classList.add('invalid-input');
    } else if (regex && !regex.test(inputValue)) {
        validationError = true;
        errorElement.textContent = 'Invalid format';
        if (inputElement == passwordElement) errorElement.textContent = 'minimum 6 characters, at least one number';
        errorElement.style.display = 'block';
        inputElement.classList.remove('valid-input');
        inputElement.classList.add('invalid-input');
    } else {
        errorElement.textContent = '';
        errorElement.style.display = 'none';
        inputElement.classList.remove('invalid-input');
        inputElement.classList.add('valid-input');
    }
}

// Define regular expressions for email and Google Map link validation
const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
const googleMapLinkRegex = /^https:\/\/maps\.app\.goo\.gl\/[A-Za-z0-9_-]+/;
const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/; // Password format: 6-10 characters, at least one number

confirmPasswordElement.addEventListener('input', () => {
    // Check if the passwords match
    if (passwordElement.value !== confirmPasswordElement.value) {
        validationError = true;
        confirmPasswordErrorEl.textContent = 'Passwords do not match';
        confirmPasswordErrorEl.style.display = 'block';
        confirmPasswordElement.classList.remove('valid-input');
        confirmPasswordElement.classList.add('invalid-input');
    } else {
        confirmPasswordErrorEl.textContent = '';
        confirmPasswordErrorEl.style.display = 'none';
        confirmPasswordElement.classList.remove('invalid-input');
        confirmPasswordElement.classList.add('valid-input');
    }
});

// Define an array of objects with input elements, corresponding error elements, messages, and regex for password validation
const inputs = [
    { input: document.getElementById('username'), errorElement: usernameErrorEl, message: 'Username is required.' },
    { input: document.getElementById('email'), errorElement: emailErrorEl, message: 'Email is required.', regex: emailRegex },
    { input: passwordElement, errorElement: passwordErrorEl, message: 'Password is required.', regex: passwordRegex },
    { input: confirmPasswordElement, errorElement: confirmPasswordErrorEl, message: 'Please confirm the password.' },
    { input: document.getElementById('name'), errorElement: nameErrorEl, message: 'Name of the store is required.' },
    { input: document.getElementById('phone_number'), errorElement: phoneNumberErrorEl, message: 'Phone number of the store owner is required.' },
    { input: document.getElementById('address'), errorElement: addressErrorEl, message: 'Store address is required.' },
    { input: googleMapURLElement, errorElement: googleMapURLErrorEl, message: 'Google Map Link of the store is required.', regex: googleMapLinkRegex },
    { input: placeIdElement, errorElement: placeIdErrorEl, message: 'Place ID is required.' },
    { input: hexIdElement, errorElement: hexIdErrorEl, message: 'Hex ID is required.' }
];

// Attach input event listeners to each input element
inputs.forEach((inputObj) => {
    const inputElement = inputObj.input;
    if (inputElement != confirmPasswordElement) {
        inputElement.addEventListener('input', () => {
            validateInput(inputElement.value.trim(), inputObj.errorElement, inputObj.message, inputObj.regex, inputElement);
        });
    }
});

generateIdButton.addEventListener('click', (event) => {
    placeIdErrorEl.style.display = 'none';
    hexIdErrorEl.style.display = 'none';
    placeIdElement.value = '';
    hexIdElement.value = '';
    
    validateInput(googleMapURLElement.value.trim(), googleMapURLErrorEl, 'Google Map Link of the store is required.', undefined, googleMapURLElement);
    loaderElement.style.display = 'block';
    console.log('generating id ...');
    url = '/getid/' + googleMapURLElement.value.trim().split('/').pop()
    console.log(url);
    fetch(url).then(response => response.json())
    .then((data) => {
        console.log(data);
        if (data.place_id == null) {
            placeIdErrorEl.innerHTML = 'Could not get place id. Retry or Visit this <a href="https://developers.google.com/maps/documentation/places/web-service/place-id#find-id" target="_blank">link</a> to get the place id.';
            placeIdErrorEl.style.display = 'block';
        } else {
            placeIdElement.value = data.place_id;
            placeIdErrorEl.innerHTML = '';
            placeIdErrorEl.style.display = 'none';
        }
        if (data.hex_id == null) {
            hexIdErrorEl.textContent = 'Could not get hex id. Please retry.';
            hexIdErrorEl.style.display = 'block';
        } else {
            hexIdElement.value = data.hex_id;
            hexIdErrorEl.textContent = '';
            hexIdErrorEl.style.display = 'none';
        }
        loaderElement.style.display = 'none';
    });
});

document.getElementById('addstore-form').addEventListener('submit', function (event) {
    // Check if the password and confirm password match
    if (passwordElement.value !== confirmPasswordElement.value) {
        validationError = true;
        confirmPasswordErrorEl.textContent = 'Passwords do not match';
        confirmPasswordErrorEl.style.display = 'block';
        confirmPasswordElement.classList.remove('valid-input');
        confirmPasswordElement.classList.add('invalid-input');
    }

    // Revalidate all inputs
    validationError = false;
    inputs.forEach((inputObj) => {
        const inputElement = inputObj.input;
        validateInput(inputElement.value, inputObj.errorElement, inputObj.message, inputObj.regex, inputElement);
    });

    if (validationError) event.preventDefault();
});
{% endblock %}
