{% extends "dashboard-base.html" %}
{% set active_page = "addstore" %}
{% block title %}Add Store{% endblock %}
{% block style %}
    .password-input-container {
    position: relative;
    }
    .password-input-container > input {
    width: 100%;
    }
    .password-input-container > span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777777;
    cursor: pointer;
    }
    .password-input-container > span:hover {
    color: black;
    }
{% endblock %}
{% block content %}
    <div class="form">
        <form action="" method="post" id="addstore-form" novalidate>
            <div class="form-title">Add Store</div>
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username(placeholder="Enter username") }}
                <span class="form-error" style="display:none;" id="username-error"></span>
                {% for error in form.username.errors %}<span class="form-error">{{ error }}</span>{% endfor %}
            </div>
            <div>
                {{ form.email.label }}
                {{ form.email(placeholder="Enter email") }}
                <span class="form-error" style="display:none;" id="email-error"></span>
            </div>
            <div>
                {{ form.password.label }}
                <div class="password-input-container">
                    {{ form.password(placeholder="Enter password") }}
                    <span class="material-symbols-outlined">visibility</span>
                </div>
                <span class="form-error" style="display:none;" id="password-error"></span>
            </div>
            <div>
                {{ form.confirm_password.label }}
                <div class="password-input-container">
                    {{ form.confirm_password(placeholder="Enter password again") }}
                    <span class="material-symbols-outlined">visibility</span>
                </div>
                <span class="form-error" style="display:none;" id="confirm-password-error"></span>
            </div>
            <div>
                {{ form.name.label }}
                {{ form.name(placeholder="Enter name of the Store") }}
                <span class="form-error" style="display:none;" id="name-error"></span>
            </div>
            <div>
                {{ form.phone_number.label }}
                {{ form.phone_number(placeholder="Enter phone number of store owner") }}
                <span class="form-error" style="display:none;" id="phone-number-error"></span>
            </div>
            <div>
                {{ form.address.label }}
                {{ form.address(placeholder="Enter store address") }}
                <span class="form-error" style="display:none;" id="address-error"></span>
            </div>
            <div>
                {{ form.google_map_url.label }}
                {{ form.google_map_url(placeholder="Enter google map link of the store") }}
                <span class="form-error" style="display:none;" id="google-map-url-error"></span>
                <div style="display:flex;align-items: center;gap: 20px;">
                    <div class="button" id="generate-id-button">
                        <a>Generate ID</a>
                    </div>
                    <div class="loader" style="display:none;"></div>
                </div>
            </div>
            <div>
                {{ form.place_id.label }}
                {{ form.place_id(placeholder="Enter place id") }}
                <span class="form-error" style="display:none;" id="place-id-error"></span>
            </div>
            <div>
                {{ form.hex_id.label }}
                {{ form.hex_id(placeholder="Enter hex id") }}
                <span class="form-error" style="display:none;" id="hex-id-error"></span>
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='addstore.js') }}" />
{% endblock %}
