<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description"
              content="GoldenOpinions: Empower your business with honest reviews. Collect and display genuine customer feedback to boost trust, enhance your reputation, and reward loyal patrons. Revolutionize your business success today.">
        <title>
            {% block title %}{% endblock %}
        - Golden Opinions</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/output.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}"
              rel="stylesheet">
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}"></link>
    <style nonce="golden">{% block style %}{% endblock %}</style>
</head>
<body>
    {% import 'macros.html' as macros %}
    <div class="mycontainer">
        <!-- Navigation Bar -->
        <div>
            <div class="w-full h-16 bg-amber-400 flex px-6">
                <a href="{{ url_for("index") }}" class="flex">
                    <img width="64"
                         height="64"
                         src="{{ url_for('static', filename='img/logo.webp') }}"
                         alt="logo">
                    <div class="text-lg lg:text-2xl font-bold my-auto ml-2">Golden Opinions</div>
                </a>
                <div class="my-auto ml-auto flex">
                    <div class="my-auto uppercase font-bold md:text-base mr-1 hidden md:flex">
                        <div>
                            <a href="{{ url_for("index") }}"
                               class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Home</a>
                        </div>
                        <div>
                            <a href="{{ url_for("contact") }}"
                               class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Contact</a>
                        </div>
                        <div>
                            <a href="{{ url_for("packages") }}"
                               class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Packages</a>
                        </div>
                        <div>
                            <a href="{{ url_for("helpcenter") }}"
                               class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Help</a>
                        </div>
                        {% if current_user.is_anonymous %}
                            <div>
                                <a href="{{ url_for("login") }}"
                                   class="hover:bg-teal-900 border-4 text-sm tracking-wide hover:text-white border-teal-900 rounded-md ml-2 px-3 py-2">Login</a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{{ url_for("dashboard") }}"
                                   class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Dashboard</a>
                            </div>
                            <div>
                                <a href="{{ url_for("logout") }}"
                                   class="hover:bg-teal-900 border-4 text-sm tracking-wide border-transparent hover:text-white rounded-md px-3 py-2">Logout</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="md:hidden select-none cursor-pointer" id="navbar-menu">{{ macros.svg("menu", size=32) }}</div>
                </div>
            </div>
            <div class="md:hidden navbar-wrapper grid">
                <div class="navbar-vertical bg-amber-400 w-full px-6 overflow-hidden uppercase font-bold flex-col">
                    <div class="py-2 hover:text-teal-900 group flex gap-2">
                        {{ macros.svg("home", class="group-hover:fill-teal-900") }}
                        <a href="{{ url_for("index") }}" class="mb-0 select-none">Home</a>
                    </div>
                    <div class="py-2 hover:text-teal-900 group flex gap-2">
                        {{ macros.svg("contact", class="group-hover:fill-teal-900") }}
                        <a href="{{ url_for("contact") }}" class="mb-0 select-none">Contact</a>
                    </div>
                    <div class="py-2 hover:text-teal-900 group flex gap-2">
                        {{ macros.svg("package", class="group-hover:fill-teal-900") }}
                        <a href="{{ url_for("packages") }}" class="mb-0 select-none">Packages</a>
                    </div>
                    <div class="py-2 hover:text-teal-900 group flex gap-2">
                        {{ macros.svg("help_center", class="group-hover:fill-teal-900") }}
                        <a href="{{ url_for("helpcenter") }}" class="mb-0 select-none">Help</a>
                    </div>
                    {% if current_user.is_anonymous %}
                        <div class="py-2 hover:text-teal-900 group flex gap-2 cursor-pointer">
                            {{ macros.svg("login", class="group-hover:fill-teal-900") }}
                            <a href="{{ url_for("login") }}" class="mb-0 select-none">Login</a>
                        </div>
                    {% else %}
                        <div class="py-2 hover:text-rose-900 group flex gap-2 cursor-pointer">
                            {{ macros.svg("dashboard", class="group-hover:fill-teal-900") }}
                            <a href="{{ url_for("dashboard") }}" class="my-auto select-none">Dashboard</a>
                        </div>
                        <div class="py-2 hover:text-rose-900 group flex gap-2 cursor-pointer">
                            {{ macros.svg("logout", class="group-hover:fill-teal-900") }}
                            <a href="{{ url_for("logout") }}" class="my-auto select-none">Log Out</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(True) %}
            {% if messages %}
                {% for message in messages %}
                    {% set alert_style = "text-green-800 bg-green-50 shadow-green-200" %}
                    {% if message[0] == 'error' %}
                        {% set alert_style = "text-red-800 bg-red-50 shadow-red-200" %}
                    {% endif %}
                    <div class="p-4 my-2 mx-auto w-fit max-w-[600px] text-sm rounded-md shadow {{ alert_style }}"
                         role="alert">{{ message[1] }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container-inner">
            {% block content %}{% endblock %}
        </div>
        <div class="section copyright">
            {{ macros.svg("copyright") }}
            <p>2023 Golden Opinions. All Rights Reserved.</p>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    {% block script %}
    {% endblock %}
</body>
</html>
