<!DOCTYPE html>
<html lang="en">
    <head translate="no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description"
              content="GoldenOpinions: Empower your business with honest reviews. Collect and display genuine customer feedback to boost trust, enhance your reputation, and reward loyal patrons. Revolutionize your business success today.">
        <title>
            {% block title %}{% endblock %}
        - Golden Opinions</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='output.css') }}"
              rel="stylesheet">
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        {% import 'macros.html' as macros %}
        <div class="mycontainer">
            <!-- Navigation Bar -->
            <div>
                <div class="w-full h-16 bg-amber-400 flex px-6">
                    <a href="{{ url_for("index") }}" class="flex">
                        <img width="64"
                             height="64"
                             src="{{ url_for('static', filename='logo.webp') }}"
                             alt="logo">
                        <div class="text-lg md:text-2xl font-bold my-auto ml-2">Golden Opinions</div>
                    </a>
                    <div class="my-auto ml-auto flex">
                        <div class="my-auto uppercase font-bold text-sm md:text-base mr-1 hidden sm:flex">
                            <div>
                                <a href="{{ url_for("dashboard") }}"
                                   class="hover:bg-teal-900 hover:text-white border-teal-900 rounded-md ml-3 px-4 py-[6px]">Dashboard</a>
                            </div>
                            <div>
                                <a href="{{ url_for("settings") }}"
                                   class="hover:bg-teal-900 hover:text-white border-teal-900 rounded-md ml-3 px-4 py-[6px]">Settings</a>
                            </div>
                            <div>
                                <a href="{{ url_for("logout") }}"
                                   class="hover:bg-teal-900 border-4 hover:text-white border-teal-900 rounded-md ml-3 px-4 py-[6px]">Logout</a>
                            </div>
                        </div>
                        <div class="sm:hidden select-none cursor-pointer" id="navbar-menu">{{ macros.svg('menu', size=32) }}</div>
                    </div>
                </div>
                <div class="sm:hidden navbar-wrapper grid">
                    <div class="navbar-vertical bg-amber-400 w-full px-6 overflow-hidden uppercase font-bold flex-col">
                        <div class="py-2 hover:text-rose-900 flex gap-2 cursor-pointer">
                            {{ macros.svg("dashboard") }}
                            <a href="{{ url_for("dashboard") }}" class="my-auto select-none">Dashboard</a>
                        </div>
                        <div class="py-2 hover:text-teal-900 flex gap-2">
                            {{ macros.svg("settings") }}
                            <a href="{{ url_for("settings") }}" class="mb-0 select-none">Settings</a>
                        </div>
                        <div class="py-2 hover:text-teal-900 flex gap-2 cursor-pointer">
                            {{ macros.svg("logout") }}
                            <a href="{{ url_for("logout") }}" class="mb-0 select-none">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashed_messages">
                        {% for message in messages %}<div>{{ message }}</div>{% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="container-inner">
                {% block content %}{% endblock %}
            </div>
            <div class="section copyright">
                <span class="material-symbols-outlined">copyright</span>
                <p>2023 Golden Opinions. All Rights Reserved.</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='index.js') }}" defer></script>
        <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
