{% extends 'dashboard-admin.html' %}
{% set active_page = "dashboard" %}
{% block content %}
    {% if stores is defined and stores|length > 0 %}
        <div class="m-4 overflow-auto rounded-lg shadow hidden md:block">
            <table class="w-full">
                <thead class="bg-gray-100 border-b-2 border-gray-200">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Store Name</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Address</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Phone Number</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr class="{{ loop.cycle('bg-gray-50', 'bg-gray-100') }}">
                            <td class="p-3 text-sm text-gray-700">{{ store.name }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ store.address }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ store.phone_number }}</td>
                            <td class="p-3 text-sm text-gray-700 flex justify-center">
                                <a href="{{ url_for('delstore', store_id=store.id) }}">{{ macros.svg("delete", class="fill-gray-500 hover:fill-black") }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="m-4 grid grid-cols-1 gap-4 md:hidden">
            {% for store in stores %}
                <div class="bg-gray-50 rounded-lg shadow p-4 text-sm text-gray-700 space-y-1">
                    <div class="text-base text-black font-semibold">{{ store.name }}</div>
                    <div>{{ store.address }}</div>
                    <div>{{ store.phone_number }}</div>
                    <div>
                        <a href="{{ url_for('delstore', store_id=store.id) }}"
                           class="text-blue-700 hover:text-purple-700 font-semibold">Delete Store</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
