{% extends 'dashboard-shop-owner.html' %}
{% set active_page = "customers" %}
{% block content %}
    <div class="section customers">
        {% if store is defined and store.customers|length > 0 %}
            <div class="general-overview">
                <div class="table-wrapper">
                    <table>
                        <caption>Overview</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Address</th>
                                <th>Updates</th>
                                <th>Coupon Codes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in store.customers %}
                                <tr>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ data[customer.id] }}</td>
                                    <td class="coupon">
                                        {% for coupon in customer.coupons %}
                                            {% if coupon.store_id == store.id %}
                                                <div>
                                                    <span><b>{{ coupon.code }}</b></span>
                                                    <div>
                                                        Expires at: <span class="datetime">{{ coupon.expire_date.isoformat() }}</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}<script></script>{% endblock %}
