{% extends "dashboard-base.html" %}
{% set active_page = "dashboard" %}
{% block title %}Dashboard{% endblock %}
{% block style %}
    .dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .dashboard > div:first-child {
    display: flex;
    justify-content: space-between;
    }
    .admin-overview {
    padding: 40px 0;
    }
    table {
    border-collapse: collapse;
    }
    caption {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    }
    thead > tr {
    background: #005248;
    color: white;
    }
    tbody > tr:nth-child(even) {
    background: #eeeeee;
    }
    th:last-child, td:last-child {
    min-width: fit-content;
    text-align: center;
    }
    tr:last-child > td {
    margin-bottom: 10px;
    }
    th:first-child, td:first-child {
    padding-left: 10px;
    }
    th, td {
    padding: 10px 20px;
    text-align: left;
    width: 30vw;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;
    }
    td {
    font-size: 0.9rem;
    }
    .table-wrapper {
    overflow-x: auto;
    }
    .store-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    a.material-symbols-outlined {
    text-decoration: none;
    color: #777777;
    }
    a.material-symbols-outlined:hover {
    color: black;
    }
    .coupon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    }
    .coupon > * {
    text-align: left;
    }
    @media only screen and (max-width: 480px) {
    .button-text {
    display:none;
    }
    .button > a {
    border-radius: 50%;
    padding: 5px;
    }
    .material-symbols-outlined {
    font-size: 20px;
    }
    }
{% endblock %}
{% block content %}
    {% set num_customers = store.customers|length %}
    {% set num_review_updates = data['updates'].values()|sum %}
    {% set num_coupons = store.coupons.count() %}
    <div class="section overview">
        <div class="w-full flex flex-col sm:flex-row justify-between py-5 sm:gap-10 lg:gap-20">
            <div class="flex-col my-auto text-center sm:text-left">
                <div class="text-3xl sm:text-4xl font-bold">Radiant Fish World</div>
                <div class="sm:text-xl">Jhawtola Main Rd, Cox's Bazar</div>
            </div>
            <div class="sm:float-right justify-center my-10 flex gap-5 flex-wrap">
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-pink-300 to-red-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_customers }}</div>
                    <div class="px-4 uppercase text-sm text-gray-800 font-bold">registered customers</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-yellow-200 to-orange-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_review_updates }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">review updates</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-green-300 to-cyan-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_coupons }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">coupons generated</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-slate-300 to-blue-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ data['num_redeems'] }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">coupons redeemed</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section flex justify-center gap-10">
        <div class="my-auto flex-col text-center">
            <div class="text-xl font-bold mb-2">QR Code</div>
            <button id="download"
                    class="bg-sky-600 hover:bg-sky-700 text-white font-bold px-4 py-2 rounded-lg border-2 border-black shadow-md shadow-gray-300">
                Download
            </button>
        </div>
        <div id="qrcode"></div>
    </div>
    <div class="section dashboard">
        {% if store is defined and store.customers|length > 0 %}
            <div class="general-overview">
                <div class="table-wrapper">
                    <table>
                        <caption>Overview</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email Address</th>
                                <th>Updates</th>
                                <th>Coupon Codes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in store.customers %}
                                <tr>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ data[customer.id] }}</td>
                                    <td class="coupon">
                                        {% for coupon in customer.coupons %}
                                            {% if coupon.store_id == store.id %}
                                                <div>
                                                    <span><b>{{ coupon.code }}</b></span>
                                                    <div>
                                                        Expires at: <span class="datetime">{{ coupon.expire_date.isoformat() }}</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
      dateTimeElements = document.querySelectorAll('.datetime');
      dateTimeElements.forEach( element => {
        dt = new Date(element.textContent + 'Z')
        element.textContent = dt.toDateString() + ', ' + dt.toLocaleTimeString()
      });
    
      url = new URL(document.URL)
      qrcode = new QRCode(document.getElementById("qrcode"), {
        text: url.origin + '/store/{{ store.id }}/review',
        width: 128,
        height: 128,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
      });
    
      document.getElementById('download').addEventListener('click', function() {
        var img = document.querySelector('#qrcode img');
        var downloadLink = document.createElement('a');
        downloadLink.download = 'qrcode.jpg';
        downloadLink.href = img.src;
        downloadLink.click();
      });
    </script>
{% endblock %}
