{% extends "dashboard-base.html" %}
{% set active_page = 'dashboard' %}

{% block title %}Dashboard{% endblock %}

{% block style %}
.dashboard-admin > div:first-child {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-overview {
    padding: 40px 0;
}

table {
    border-collapse: collapse;
}

caption {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

thead > tr {
    background: #005248;
    color: white;
}

tbody > tr:nth-child(even) {
    background: #eeeeee;
}

th:last-child, td:last-child {
    min-width: fit-content;
    text-align: center;
}

tr:last-child > td {
	margin-bottom: 10px; 
}

th:first-child, td:first-child {
	padding-left: 10px;
}

th, td {
    padding: 10px 20px;
    text-align: left;
    width: 30vw;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;
}

td {
	font-size: 0.9rem;
}

.table-wrapper {
	overflow-x: auto;
}

.store-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.material-symbols-outlined {
    text-decoration: none;
    color: #777777;
}

a.material-symbols-outlined:hover {
    color: black;
}

@media only screen and (max-width: 480px) {
	.button-text {
		display:none;
	}

	.button > a {
		border-radius: 50%;
		padding: 5px;
	}

	.material-symbols-outlined {
		font-size: 20px;
	}
}
{% endblock %}

{% block content %}
<div class="section dashboard-admin">
	<div>
		<h2>Welcome, {{ current_user.username }}</h2>
		<div class="button">
			<a href="{{ url_for('addstore') }}">
				<span class="button-text">Add Store</span>
				<span class="material-symbols-outlined icon-right">add</span>
			</a>
		</div>
	</div>
	{% if stores is defined and stores|length > 0 %}
	<div class="admin-overview">
		<div class="table-wrapper">
			<table class="store-list">
				<caption>Overview</caption>
				<thead><tr>
					<th>Store Name</th>
					<th>Address</th>
					<th>Phone Number</th>
					<th>Action</th>
				</tr></thead>
				<tbody>
				{% for store in stores %}
				<tr>
					<td>{{ store.name }}</td>
					<td>{{ store.address }}</td>
					<td>{{ store.phone_number }}</td>
					<td>
						<a href="{{ url_for('delstore', store_id=store.id) }}" class="material-symbols-outlined">delete</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
