{% extends "base-dashboard-shop-owner.html" %}
{% set active_page = "dashboard" %}
{% block title %}Dashboard{% endblock %}
{% block style %}
    .dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .dashboard > div:first-child {
    display: flex;
    justify-content: space-between;
    }
    .admin-overview {
    padding: 40px 0;
    }
{% endblock %}
{% block content %}
    {% set num_customers = store.customers|length %}
    {% set num_review_updates = data['updates'].values()|sum %}
    {% set num_coupons = store.coupons.count() %}
    <div class="section overview">
        <div class="w-full flex flex-col sm:flex-row justify-between py-5 sm:gap-10 lg:gap-20">
            <div class="flex-col my-auto text-center sm:text-left">
                <div class="text-3xl sm:text-4xl font-bold">Radiant Fish World</div>
                <div class="sm:text-xl">Jhawtola Main Rd, Cox's Bazar</div>
            </div>
            <div class="sm:float-right justify-center my-10 flex gap-5 flex-wrap">
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-pink-300 to-red-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_customers }}</div>
                    <div class="px-4 uppercase text-sm text-gray-800 font-bold">registered customers</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-yellow-200 to-orange-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_review_updates }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">review updates</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-green-300 to-cyan-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ num_coupons }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">coupons generated</div>
                </div>
                <div class="w-36 sm:w-40 flex-col text-center bg-gradient-to-tr from-slate-300 to-blue-300 px-2 py-8 rounded-lg shadow-md shadow-gray-300">
                    <div class="text-4xl font-bold mb-3">{{ data['num_redeems'] }}</div>
                    <div class="mx-4 uppercase text-sm text-gray-800 font-bold">coupons redeemed</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section statistics my-10">
        <div class="text-xl font-bold my-4">Average Rating</div>
        <div class="bg-orange-50 shadow shadow-md max-w-lg">
            <canvas id="chart"></canvas>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
    <script src='{{url_for('static', filename='dashboard.js')}}'></script>
{% endblock %}
