<!DOCTYPE html>
<html lang="en">
    <head translate="no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description"
              content="GoldenOpinions: Empower your business with honest reviews. Collect and display genuine customer feedback to boost trust, enhance your reputation, and reward loyal patrons. Revolutionize your business success today.">
        <title>
            {% block title %}{% endblock %}
        - Golden Opinions</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='output.css') }}"
              rel="stylesheet">
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        {% import 'macros.html' as macros %}
        <div class="mycontainer">
            <!-- Navigation Bar -->
            <div>
                <div class="w-full h-16 bg-amber-400 flex px-6">
                    <a href="{{ url_for("index") }}" class="flex">
                        <img width="64"
                             height="64"
                             src="{{ url_for('static', filename='logo.webp') }}"
                             alt="logo">
                        <div class="text-lg md:text-2xl font-bold my-auto ml-2">Golden Opinions</div>
                    </a>
                    {% block horizontal_nav %}{% endblock %}
                </div>
                {% block vertical_nav %}{% endblock %}
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashed_messages">
                        {% for message in messages %}<div>{{ message }}</div>{% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="container-inner">
                {% block content %}{% endblock %}
            </div>
            <div class="section copyright">
                <span class="material-symbols-outlined">copyright</span>
                <p>2023 Golden Opinions. All Rights Reserved.</p>
            </div>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
  // hover effect for icons in navbar menu items
  icons = document.querySelectorAll(".navbar-wrapper svg");
  icons.forEach((icon) => {
    parent = icon.closest("div");
    parent.onmouseover = () => {
      icon.classList.add("fill-teal-900");
    };
    parent.onmouseleave = () => {
      icon.classList.remove("fill-teal-900");
    };
  });
  
  // animate navbar menu
  const navbarWapperEl = document.querySelector('.navbar-wrapper');
  const navbarVerticalEl = document.querySelector('.navbar-vertical');
  
  document.getElementById('navbar-menu').onclick = () => {
    if(navbarWapperEl.style.gridTemplateRows !== '1fr') {
        navbarWapperEl.style.gridTemplateRows = '1fr';
        navbarVerticalEl.style.paddingBottom = '1.25rem';
      }
      else {
        navbarWapperEl.style.gridTemplateRows = '0fr';
        navbarVerticalEl.style.paddingBottom = '0';
      }
  };

  // hover effect for icons in buttons
  icons = document.querySelectorAll('.button svg, input[type="submit"] svg');
  icons.forEach((icon) => {
    parent = icon.closest('div');
    parent.onmouseover = () => {
      icon.classList.add('fill-white');
    };
    parent.onmouseleave = () => {
      icon.classList.remove('fill-white');
    }
  });
});
        </script>
        <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
