{% extends 'dashboard-shop-owner.html' %}
{% set active_page = "customers" %}
{% block title %}Customers{% endblock %}
{% block style %}
    <style nonce="golden">
      th, td, .grid div {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
{% endblock %}
{% block content %}
    {% if store is defined and store.customers|length > 0 %}
        <div class="m-4 overflow-auto rounded-lg shadow hidden md:block">
            <table class="w-full">
                <thead class="bg-gray-100 border-b-2 border-gray-200">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Name</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Email Address</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Phone Number</th>
												{% if store.package == '5star' or store.package == '5star-unlimited' %}
													<th class="p-3 text-sm font-semibold tracking-wide text-right">Review Updates</th>
													<th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
												{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for customer in store.customers %}
                        <tr class="{{ loop.cycle('bg-gray-50', 'bg-gray-100') }}">
                            <td class="p-3 text-sm text-gray-700">{{ customer.name }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ customer.email }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ customer.phone_number }}</td>
														{% if store.package == '5star' or store.package == '5star-unlimited' %}
															<td class="px-6 py-3 text-sm text-gray-700 text-right">{{ data[customer.id] or 0 }}</td>
															<td class="px-6 py-3 text-sm text-gray-700 text-center"><a href="{{ url_for('view_reviews', customer_id=customer.id) }}" class="link">View Reviews</a></td>
														{% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="m-4 grid grid-cols-1 gap-4 md:hidden">
            {% for customer in store.customers %}
                <div class="bg-gray-50 rounded-lg shadow p-4 text-sm text-gray-700 space-y-1">
                    <div class="text-base text-black font-semibold">{{ customer.name }}</div>
                    <div>{{ customer.email }}</div>
                    <div>{{ customer.phone_number }}</div>
										{% if store.package == '5star' or store.package == '5star-unlimited' %}
                    	<div>Review Updates: {{ data[customer.id] or 0 }}</div>
										{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
