{% extends "dashboard-admin.html" %}
{% set active_page = "editstore" %}
{% block title %}Edit Store{% endblock %}
{% block content %}
    <div class="border-sky-600 border-rose-600 hidden"></div>
    <div class="space-y-8 p-6">
        <div class="mx-auto max-w-[400px] sm:mx-4">
            <div class="mb-4 text-2xl font-bold">Account Information</div>
            <div class="flex flex-col gap-1">
                <label for="account_state">Account State</label>
                <select name="account_state"
                        id="account_state"
                        class="my-1 p-2 bg-white rounded-md border-2 border-gray-300 px-3 py-2 outline-none hover:border-gray-400 focus:border-gray-600">
                    <option value="active" {{ 'selected' if store.owner.state == 'active' }}>Active
                    </option>
                    <option value="blocked" {{ 'selected' if store.owner.state == 'blocked' }}>Blocked
                    </option>
                </select>
            </div>
            <div class="w-fit ml-auto mt-4 mb-2 flex gap-4">
                <div class="loader hidden"></div>
                <button id="save-state"
                        class="w-fit rounded-lg bg-teal-800 px-4 py-2 font-bold text-white shadow shadow-teal-950 hover:bg-teal-950 active:bg-teal-950">
                    Save
                </button>
            </div>
        </div>
        <div class="mx-auto max-w-[400px] sm:mx-4">
            <div class="mb-4 text-2xl font-bold">Package Information</div>
            <div class="flex flex-col gap-1">
                <label for="package">Package</label>
                <select name="account_state"
                        id="account_state"
                        class="my-1 p-2 bg-white rounded-md border-2 border-gray-300 px-3 py-2 outline-none hover:border-gray-400 focus:border-gray-600">
                    <option value="basic" {{ 'selected' if store.package == 'basic' }}>Basic
                    </option>
                    <option value="5star" {{ 'selected' if store.package == '5star' }}>5 Star
                    </option>
                    <option value="basic-unlimited" {{ 'selected' if store.package == 'basic-unlimited' }}>Basic + Unlimited
                    </option>
                    <option value="5star-unlimited" {{ 'selected' if store.package == '5star-unlimited' }}>5 Star + Unlimited
                    </option>
                </select>
            </div>
            <div class="w-fit ml-auto mt-4 mb-2 flex gap-4">
                <div class="loader hidden"></div>
                <button id="save-package"
                        class="w-fit rounded-lg bg-teal-800 px-4 py-2 font-bold text-white shadow shadow-teal-950 hover:bg-teal-950 active:bg-teal-950">
                    Save
                </button>
            </div>
        </div>
        <div class="form mx-auto max-w-[400px] sm:mx-4">
            <form action=""
                  method="post"
                  id="editstore-form"
                  class="flex flex-col gap-4"
                  novalidate>
                <div class="text-2xl font-bold my-4">Store Information</div>
                {{ form.hidden_tag() }}
                <div class="flex flex-col gap-1">
                    {{ form.name.label }}
                    {{ form.name(placeholder="Enter name of the Store", value=store.name) }}
                    <span class="form-error" style="display:none;" id="name-error"></span>
                </div>
                <div class="flex flex-col gap-1">
                    {{ form.phone_number.label }}
                    {{ form.phone_number(placeholder="Enter phone number of store owner", value=store.phone_number) }}
                    <span class="form-error" style="display:none;" id="phone-number-error"></span>
                </div>
                <div>
                    {{ form.address.label }}
                    {{ form.address(placeholder="Enter store address", value=store.address) }}
                    <span class="form-error" style="display:none;" id="address-error"></span>
                </div>
                <div class="flex flex-col gap-1">
                    {{ form.google_map_url.label }}
                    {{ form.google_map_url(placeholder="Enter google map link of the store", value=store.google_map_url) }}
                    <span class="form-error" style="display:none;" id="google-map-url-error"></span>
                    <div style="display:flex;align-items: center;gap: 20px;">
                        <div class="mx-auto my-2 bg-orange-200 px-4 py-2 w-fit border-[3px] border-teal-950 rounded-md font-bold hover:bg-teal-950 hover:text-white select-none"
                             id="generate-id-button">
                            <a>Generate ID</a>
                        </div>
                        <div class="loader hidden"></div>
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    {{ form.place_id.label }}
                    {{ form.place_id(placeholder="Enter place id", value=store.place_id) }}
                    <span class="form-error" style="display:none;" id="place-id-error"></span>
                </div>
                <div class="flex flex-col gap-1">
                    {{ form.hex_id.label }}
                    {{ form.hex_id(placeholder="Enter hex id", value=store.hex_id) }}
                    <span class="form-error" style="display:none;" id="hex-id-error"></span>
                </div>
                <div class="mx-auto my-2 bg-orange-200 px-4 py-2 w-fit border-[3px] border-teal-950 rounded-md font-bold hover:bg-teal-950 hover:text-white select-none">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/editstore.js') }}"></script>{% endblock %}
