{% extends "store-base.html" %}
{% block title %}Leave a review - {{ store.name }}{% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <div class="mx-8 my-6 flex flex-col space-y-4">
        <div>
            <div>
                You are logged in as <b>{{ customer.name }}</b> from <b>{{ customer.email }}</b>.
                Leave an honest review describing your most recent experience with us.
            </div>
            <div class="my-8">
                <div class="text-xl font-bold">Instructions</div>
                <div>
                    If you have multiple google accounts logged in to this browser, make sure that
                    <b>{{ customer.email }}</b> is the default account. If unsure first remove all accounts then log into
                    <b>{{ customer.email }}</b> and come back to this page and click on the "Go to Review Page" button below.
                </div>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4 space-y-4 sm:space-y-0">
            <button class="w-fit bg-teal-800 hover:bg-teal-950 active:bg-teal-950 text-white font-bold py-2 px-4 rounded-lg shadow-teal-950 shadow">
                <a href="{{ url_for('review_url', store_slug=store_slug) }}">Go to Review Page</a>
            </button>
            <button class="w-fit bg-teal-800 hover:bg-teal-950 active:bg-teal-950 text-white font-bold py-2 px-4 rounded-lg shadow-teal-950 shadow">
                <a href="{{ url_for("google_logout") }}">Use Another Google Account</a>
            </button>
        </div>
    </div>
{% endblock %}
