{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container-inner">
        <div class="section welcome">
            <div class="text-3xl font-bold">Empower Your Business with Honest Reviews</div>
            <p>
                We offer a powerful platform for businesses, providing valuable customer feedback and insights.
                Enhance your reputation, trust, and growth by monitoring reviews and identifying trends.
                Join us today for a prosperous and trustworthy partnership in business success.
            </p>
            <div class="button-holder">
                <div class="button">
                    <a href="{{ url_for("contact") }}">
                        Get Started <span>{{ macros.svg("arrow-right", class="fill-teal-900") }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="section how-it-works">
            <div>
                <div>{{ macros.svg("subscribe", size=40, class="fill-amber-400 mx-auto mb-4") }}</div>
                <div class="text-3xl text-amber-400 font-bold">Subscribe</div>
                <p>Contact us, we will create your account, give your credentials and a shareable link</p>
            </div>
            <div>
                <div>{{ macros.svg("share", size=40, class="fill-amber-400 mx-auto mb-4") }}</div>
                <div class="text-3xl text-amber-400 font-bold">Share</div>
                <p>Now share the link we provided with your customers and tell them to put a review</p>
            </div>
            <div>
                <div>{{ macros.svg("done", size=40, class="fill-amber-400 mx-auto mb-4") }}</div>
                <div class="text-3xl text-amber-400 font-bold">Get Reviews</div>
                <p>Start getting honest review from customers and flourish in your business</p>
            </div>
        </div>
        <div class="section why-choose-us">
            <div>
                <div>
                    <div class="text-3xl font-bold mb-2">Boost Customer Trust</div>
                    <p>
                        Our service is built to boost customer trust by collecting and displaying honest feedback from your patrons.
                        Potential customers are more likely to choose your business when they see that others have had positive experiences.
                    </p>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='trust.webp') }}" alt="trust">
                </div>
            </div>
            <div>
                <div>
                    <div class="text-3xl font-bold mb-2">Enhance Your Reputation</div>
                    <p>
                        GoldenOpinions helps you enhance your business reputation in the eyes of your customers.
                        Positive reviews and a stellar online presence contribute to a strong, trustworthy image, which, in turn, leads to increased sales and loyalty.
                    </p>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='reputation.webp') }}"
                         alt="reputation">
                </div>
            </div>
            <div>
                <div>
                    <div class="text-3xl font-bold mb-2">Reward Loyal Customers</div>
                    <p>
                        Our platform enables you to reward loyal customers with exclusive discounts and promotions.
                        As they continue to provide feedback and support your business, you can reciprocate their loyalty, ensuring they keep coming back.
                    </p>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='loyalty.webp') }}" alt="loyalty">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
