{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="mt-8 p-4 max-w-[400px] mx-auto">
        <form action=""
              method="post"
              id="resetpassreq-form"
              class="flex flex-col gap-4"
              novalidate>
            <div class="form-title text-2xl mb-6 font-bold">Password Reset</div>
            {{ form.hidden_tag() }}
            <div class="flex flex-col gap-1">
                {{ form.email.label }}
                {{ form.email(placeholder="Enter email") }}
                <span class="form-error" id="email-error"></span>
                {% for error in form.email.errors %}<span class="form-error">{{ error }}</span>{% endfor %}
            </div>
            <div class="ml-auto">{{ form.submit(class="text-base uppercase") }}</div>
        </form>
    </div>
{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/resetpassword.request.js') }}"></script>{% endblock %}
