<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description"
              content="Golden Opinions: Empower your business with honest reviews. Collect and display genuine customer feedback to boost trust, enhance your reputation, and reward loyal patrons. Revolutionize your business success today.">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/output.css') }}"
              rel="stylesheet">
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        {% import 'macros.html' as macros %}
        <div class="mycontainer">
            <!-- Navigation Bar -->
            <nav>
                <div class="navbar">
                    <h1 class="navbar-brand">{{ store.name }}</h1>
                </div>
            </nav>
            <div class="container-inner">
                {% block content %}{% endblock %}
            </div>
            <div class="section copyright">
                <span>{{ macros.svg("copyright") }}</span>
                <p>2023 Golden Opinions. All Rights Reserved.</p>
            </div>
        </div>
        <script>{% block script %}{% endblock %}</script>
    </body>
</html>
